Session14/WebContent/wsdl/MyWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://edureka.co" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://edureka.co" xmlns:intf="http://edureka.co" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://edureka.co" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mtrToCm">
    <complexType>
     <sequence>
      <element name="mtrs" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mtrToCmResponse">
    <complexType>
     <sequence>
      <element name="mtrToCmReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerEmployee">
    <complexType>
     <sequence>
      <element name="eid" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="salary" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerEmployeeResponse">
    <complexType>
     <sequence>
      <element name="registerEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="feetToInches">
    <complexType>
     <sequence>
      <element name="feet" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="feetToInchesResponse">
    <complexType>
     <sequence>
      <element name="feetToInchesReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="feetToInchesResponse">

      <wsdl:part element="impl:feetToInchesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerEmployeeRequest">

      <wsdl:part element="impl:registerEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerEmployeeResponse">

      <wsdl:part element="impl:registerEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mtrToCmRequest">

      <wsdl:part element="impl:mtrToCm" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="feetToInchesRequest">

      <wsdl:part element="impl:feetToInches" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mtrToCmResponse">

      <wsdl:part element="impl:mtrToCmResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MyWebService">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mtrToCm">

         <wsdl:input message="impl:mtrToCmRequest" name="mtrToCmRequest">

       </wsdl:input>

         <wsdl:output message="impl:mtrToCmResponse" name="mtrToCmResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerEmployee">

         <wsdl:input message="impl:registerEmployeeRequest" name="registerEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerEmployeeResponse" name="registerEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="feetToInches">

         <wsdl:input message="impl:feetToInchesRequest" name="feetToInchesRequest">

       </wsdl:input>

         <wsdl:output message="impl:feetToInchesResponse" name="feetToInchesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyWebServiceSoapBinding" type="impl:MyWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mtrToCm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mtrToCmRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mtrToCmResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="feetToInches">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="feetToInchesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="feetToInchesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyWebServiceService">

      <wsdl:port binding="impl:MyWebServiceSoapBinding" name="MyWebService">

         <wsdlsoap:address location="http://localhost:8080/Session14/services/MyWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
